
p {
}

h1 {
    text-align: center;
    color: white;
    font-size: 300%;
}


h2 {
    font-family: "Palatin Linotype";
    color: black;
    font-size: 200%;

}

img {

    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-right: 10px;
    clear: both;
}

.top {
    background-color: #0099cc;
    border-top-style: solid;
    border-color: brown;
    border-top-width: 3em;
    margin: 0;
    padding: 0;
}

#link {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

#nav {
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body {
    width: 75%;
}

.facts {
    float: right;
    width: 25%;
    border-style: solid;
    height: 100%;
    background-color: #b1b6bf;
}

li {
    color: black;
}

#con {
    color: black;
}

body{
    background-color: white;

}

html, body{
	height: 100%;
}

#interesting {
  color: black;
  text-align: center;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    background-color: brown;
    background-image: url();
}
